---
import Layout from '../templates/Layout.astro';
import {strapiGet} from '../lib/strapi';
import '../styles/pages/_home.scss'
import Carrousel from "../templates/Carrousel.astro";

const {data} = await strapiGet<{ data: any }>('/api/accueil', {query: {populate: 'seo'}});
const seo = data?.attributes?.seo || {};
const site = Astro.site?.origin || 'https://www.exemple.com';
const canonical = seo.canonicalURL || `${site}/`;
const carrousel = "principal";
---

<Layout
        title={seo.metaTitle || 'Accueil'}
        description={seo.metaDescription || ''}
        canonical={canonical}
        noindex={seo.noindex}
>
    <section class="main-carrousel">
        <!--<Carrousel slug="principal"></Carrousel>-->
    </section>
    <section style="height: 150px">
        <h2>test</h2>
    </section>
</Layout>

